<div class="card-show-idea" id="<%= dom_id idea %>">
  <div class="card js-idea" id="<%= dom_id idea %>">

    <div class="card-header">
      <div class="card-header-title wrapper" style="padding-bottom:1px">
        <h3><strong>  <%= simple_format idea.title %> </strong></h3>
      </div>
    </div>
    <div class="card-content"  style="min-height:469px;">
      <div class="content" >
        <div class="body" style="border: 1px solid #bbbbbb;min-height:200px;border-radius: 10px; padding:20px">
          <%= simple_format idea.body %>
        </div>
      </div>
      <div class="content">
        <strong> Category: </strong>
        <span class="js-idea-category"> <%= idea.category.name %> </span>
      </div>
      <div class="content">
       <strong> In need: </strong>
        <span class="js-idea-need"> <%= idea.need %> </span>
      </div>
      <div class="content">
        <strong>14 people</strong>
        want to join this idea
      </div>
      <div class="content">
        <nav class="level">
          <div class="level-left">
          </div>
          <div class="level-right">
            <div class="level-item" style="margin-right:50px">
              <div class="">
                <div class="control new-join" style="vertical-align: middle;">
                  <a class="button is-primary modal-join js-modal-join-idea" data-target="modal" >Join</a>
                </div>
              </div>
            <div>
          </div>
        </nav>
      </div>
    </div>
    <%= render "participates/new", idea: idea %>
    <div class="card-image">
      <figure class="image image-idea is-4by3">
        <% if idea.idea_attachments.first %>
          <%= image_tag(idea.idea_attachments.first.photo.url, class: "card-image ") %>
        <% else %>
          <%= image_tag("idea.jpg", class: "card-image")%>
        <% end %>
      </figure>
    </div>
    <footer>
      <nav class="level" style="margin-right:10px">
        <div class="level-left">
        </div>
        <div class="level-right">
          <div class="level-item">
            <%= icon("eye-slash", "#{idea.reaches.count}") %>
          </div>
          <div class="level-item">
            <%= icon("comments", "22") %>
          </div>
          <div class="level-item">
            <%#= link_to icon("heart-o","25"), toggle_like_path(idea_id: idea.id),
            class: "button is-white js-like-button #{'is-liked' if current_user.liking?(idea)}", method: "post", remote: true %>
            <%= link_to icon("heart-o","#{idea.likes.count}"),toggle_like_path(idea_id: idea.id), class: "js-like-button #{'is-liked' if current_user.liking?(idea)}", method: "post", remote: true %>
          </div>
        </div>
      </nav>
    </footer>
  </div>
  <div class="media name-hover">
    <div class="media-left">
      <figure class="image image-round is-64x64">
        <%= image_tag(idea.user.image_url_or_default, alt: "image") %>
      </figure>
    </div>
    <div class="media-content">
      <p class="title is-4">
        <%= link_to idea.user.name_or_email,""  %>
      </p>
      <p class="subtitle is-6">
        <small><%= time_ago_in_words idea.idea_updated_at %> ago</small>
      </p>
    </div>
  </div>
</div>
