<div class="card ", id="", style="margin-top:20px;border-radius: 10px;min-height:300px">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= image_tag(idea.user.image_url_or_default, alt: "image") %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">
          <%= link_to idea.user.email,""  %>
        </p>
        <p class="subtitle is-6">
          <small><%= time_ago_in_words idea.idea_updated_at %> ago</small>
        </p>
      </div>
    </div>
    <div class="content">
      <div class="card-title wrapper">
        <strong>  <%= simple_format idea.title %> </strong>
      </div>
      <div class="">
        <%= simple_format idea.body %>
      </div>
      <% if idea.photo.url %>
      <div class="wrapper">
        <%= image_tag(idea.photo.url, class: "card-image ") %>
      </div>
      <% end %>
    </div>
  </div>
</div>
