<div class="content">
  <nav class="parent">
    <h1>Hello Sunny Vo</h1>
  </nav>
  <div class="columns child is-multiline is-mobile">
    <div class="column is-two-thirds">
      <div class="media name-hover">
        <div class="media-left">
          <figure class="image image-round is-64x64">
            <%= image_tag(idea.user.image_url_or_default, alt: "image") %>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">
            <%= link_to idea.user.name_or_email,""  %>
          </p>
          <p class="subtitle is-6">
            <small><%= time_ago_in_words idea.idea_updated_at %> ago</small>
          </p>
        </div>
      </div>
      <div class="card-footer footer-like">
        <%= display_likers(@idea) %>
      </div>
      <div class="media">
        <div class="media-left">
          <p class="image is-32x32">
            <%= image_tag(current_user.image_url_or_default, class: "card-image") %>
          </p>
        </div>
        <div class="media-content new-comment", id="<%=dom_id idea %>">
          <%= render "comments/new", idea: @idea %>
        </div>
      </div>
      <div class="comments-list" id="<%=dom_id @idea %>">
        <% @idea.comments.each do |cmt| %>
          <%= render "comments/comment", cmt: cmt %>
        <% end %>
      </div>
    </div>
    <div class="column">
      second column
    </div>
  </div>
</div>
