<p id="notice"><%= notice %></p>

<div class="content">
  <nav class="parent">
    <h1>Hello Sunny Vo</h1>
  </nav>
  <div class="columns child is-multiline is-mobile">
    <div class="column is-two-thirds">
      <div class="media name-hover">
        <div class="media-left">
          <figure class="image image-round is-96x96">
            <%= image_tag(@idea.user.image_url_or_default, alt: "image")%>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4" style="padding-top:20px;">
            <%= link_to @idea.title %>
          </p>
          <p class="subtitle is-6">
            <small> by <strong><%= @idea.user.name_or_email%> </strong>  <%=  time_ago_in_words @idea.idea_updated_at %> ago</small>
          </p>
        </div>
      </div>

      <div class="">
        <div class="idea-info">

        </div>
        <div class="card-image">
            <figure class="image image-idea is-4by3">
              <% if idea.idea_attachments.first %>
                <%= image_tag(idea.idea_attachments.first.photo.url, class: "card-image ") %>
              <% else %>
                <%= image_tag("idea.jpg", class: "card-image")%>
              <% end %>
            </figure>
          </div>
      </div>
      </div>
    <div class="column">
      second column
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
