<p id="notice"><%= notice %></p>

<div class="content">
  <nav class="parent">
  </nav>
  <div class="columns child is-multiline is-mobile" style="background-color:lightgray">
    <div class="column is-two-thirds" style="padding:50px">
      <div class="media name-hover">
        <div class="media-left">
          <figure class="image image-round is-96x96">
            <%= image_tag(@idea.user.image_url_or_default, alt: "image")%>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4" style="padding-top:20px;">
            <%= link_to @idea.title %>
          </p>
          <p class="subtitle is-6">
            <small> by <strong><%= @idea.user.name_or_email%> </strong>  <%=  time_ago_in_words @idea.idea_updated_at %> ago</small>
          </p>
        </div>
      </div>

      <div class="">
        <div class="idea-info" style="padding:20px">
        <%= @idea.body %>
        </div>
        <div style="margin-top:30px">
          <% if @idea.idea_attachments.first %>
            <%= image_tag(@idea.idea_attachments.first.photo.url, class: "",style: "height:300px;width:400px") %>
          <% else %>
            <%= image_tag("idea.jpg", class: "", style: "height:300px;width:400px")%>
          <% end %>
        </div>
      </div>
      </div>
    <div class="column" >

    </div>
  </div>
</div>

