 <aside class="profile-card css-profile" id="<%=dom_id user%>">
  <header>
    <%= link_to profile_path(id: user) do %>
      <%= image_tag user.image_url_or_default%>
    <% end %>
    <h1 class="title is-4"><%= user.name %></h1>
    <h2 class="subtitle is-6"><%= user.email %></h2>
  </header>
  <div class="profile-bio">
  <footer class="card-footer">
      <a class="card-footer-item js-unfollow <%= current_user.is_followed?(user) ? " " : "hidden" %>">
        <%= form_for user, url: unfollow_path(user_id: user.id), method: :delete, remote: true do |f| %>
          <button class="button is-danger add-remove is-inverted"><%= icon("user-times", "Unfollow") %></button>
        <% end %>
      </a>
      <a class="card-footer-item js-follow <%= current_user.is_followed?(user) ? "hidden" : " " %>">
        <%= form_for current_user.follows.build(follower: user), remote: true do |f| %>
          <%= f.hidden_field :follower_id %>
          <button class="button is-primary  is-inverted "><%= icon("user-plus", "Follow") %></button>
        <% end %>
      </a>
  </footer>
  <footer>
    <nav class="level" style="margin-right:10px">
      <div class="level-left">
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= icon("paw", "#{User.num_followedby(user)}") %>
        </div>
        <div class="level-item">
          <%= icon("lightbulb-o", "#{User.num_ideas(user)}") %>
        </div>
        <div class="level-item">
          <%= icon("plus-circle","#{User.num_joined_ideas(user)}") %>
        </div>
      </div>
    </nav>
  </footer>
</aside>
