<div class="container-card" id="<%=dom_id user%>">
  <div class="card">
    <div class="card-title">
      <div class="icon-idea">
        <a> <%= icon("lightbulb-o","") %> </a>
      </div>
      <div class="card-image">
        <figure class="image is-64x64">
          <%= image_tag(user.image_url_or_default, alt: "image") %>
        </figure>
      </div>
    </div>
    <div class="card-content">
      <div class="content">
        <h5>
          <%= user.name_or_email %>
        </h5>
        <p> Followed by: <%= User.num_followedby(user)%></p>
      </div>
      <a class="card-footer-item js-unfollow <%= current_user.is_followed?(user) ? " " : "hidden" %>">
        <%= form_for user, url: unfollow_path(user_id: user.id), method: :delete, remote: true do |f| %>
          <button class="button is-danger add-remove is-inverted"><%= icon("user-times", "Unfollow") %></button>
        <% end %>
      </a>
      <a class="card-footer-item js-follow <%= current_user.is_followed?(user) ? "hidden" : " " %>">
        <%= form_for current_user.follows.build(follower: user), remote: true do |f| %>
          <%= f.hidden_field :follower_id %>
          <button class="button is-primary  is-inverted "><%= icon("user-plus", "Follow") %></button>
        <% end %>
      </a>
    </div>
    <footer class="card-footer">
      <nav class="level" style="margin-right:10px">
        <div class="level-left">
        </div>
        <div class="level-right">
          <div class="level-item">
            <%= icon("paw", "122") %>
          </div>
          <div class="level-item">
            <%= icon("lightbulb-o", "2") %>
          </div>
          <div class="level-item">
            <%= icon("plus-circle","102") %>
          </div>
        </div>
      </nav>
    </footer>
  </div>
</div>
