<div class="content">
  <nav class="parent" style="background-color:#5C65D8;">
  </nav>
  <div class="columns  is-multiline is-mobile ">
    <div class="column is-2">
    </div>
    <div class="column child is-8" >
      <% unless current_user %>
        <div class="wrapper" style="padding:2px">
          <%= link_to "Create An Account", new_user_registration_path, class: "button is-primary" %>
        </div>
        <div class="wrapper" style="padding:2px">
            <%= link_to "Sign in", new_user_session_path, class: "button is-primary" %>
        </div>
        <div class="wrapper" style="padding:2px">
          <%= link_to icon("facebook", "Facebook"), user_facebook_omniauth_authorize_path, class: "button is-info", style: "min-width: 150px" %>
        </div>
      <% else %>
        <div class="">
          <div class="control new-idea" style="vertical-align: middle;">
            <a class="button is-primary is-large modal-button wrapper js-modal-button-new-idea" data-target="modal" >New idea</a>
            <%= render "ideas/new" %>
          </div>
        </div>
        <div class="ideas-list">
          <% @ideas.each do |idea| %>
            <%= render "ideas/idea", idea: idea %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="column">

    </div>
  </div>
</div>
