<div class="content">
  <nav class="parent" style="">
      <div class="media name-hover">
        <div class="media-left">
          <figure class="image image-round is-96x96">
             <%= image_tag "mellon2.jpg" %>
          </figure>
        </div>
        <div class="media-content">
          <h1 class="title is-4" style="">
            Welcome to Mellon Generation
          </h1>
        </div>
      </div>
  </nav>
  <div class="columns  is-multiline is-mobile ">
    <div class="column is-2" style="background-color:lightgray;">
    </div>
    <div class="column child is-8" >
      <% unless current_user %>
        <div class="wrapper" style="padding:2px">
          <%= link_to "Create An Account", new_user_registration_path, class: "button is-primary" %>
        </div>
        <div class="wrapper" style="padding:2px">
            <%= link_to "Sign in", new_user_session_path, class: "button is-primary" %>
        </div>
        <div class="wrapper" style="padding:2px">
          <%= link_to icon("facebook", "Facebook"), user_facebook_omniauth_authorize_path, class: "button is-info", style: "min-width: 150px" %>
        </div>
      <% else %>
        <div class="">
          <div class="control new-idea" style="vertical-align: middle;">
            <a class="button is-primary is-large modal-button wrapper js-modal-button-new-idea" data-target="modal" >New idea</a>
            <%= render "ideas/new" %>
          </div>
        </div>
        <div class="ideas-list">
          <% @ideas.each do |idea| %>
            <%= render "ideas/idea", idea: idea %>
          <% end %>
        </div>
        <div class="pagination" data-pagination-endpoint="<%= paging_ideas_path %>" data-pagination-pages="<%= @ideas.total_pages %>">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="margin: auto"></i>
        </div>
      <% end %>
    </div>
    <div class="column" style="background-color:lightgray;">

    </div>
  </div>
</div>
