<!DOCTYPE html>
<html>
  <head>
    <title>CommunityIdea</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=1594152533929347";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=1594152533929347";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <%= image_tag "idea.jpg", alt: "Idea community" %>
          </a>
          <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <%= link_to icon("lightbulb-o", "Ideas"), "" , class: "navbar-link is-active" %>
              <div class="navbar-dropdown ">
                <%= link_to "Popular", root_path(:sort_by => "popular") , class: "navbar-item #{'active' if params[:sort_by] == "popular"}"%>
                <%= link_to "Recent",root_path(:sort_by => "recent") , class: "navbar-item #{'active' if params[:sort_by] == "recent"}"%>
                <%= link_to "Follow", root_path(:sort_by => "follow") , class: "navbar-item #{'active' if params[:sort_by] == "follow"}"%>
                <%= link_to "Champion", root_path(:sort_by => "champion") , class: "navbar-item #{'active' if params[:sort_by] == "champion"}"%>
                <%= link_to icon("map-marker","Ho Chi Minh"), "" , class: "navbar-item"%>
                <%= link_to icon("tasks","Projects"), "" , class: "navbar-item"%>
              </div>
            </div>
          </div>
          <div class="navbar-end">
          <% if current_user %>
            <%= link_to "Sign out", destroy_user_session_path, class: "navbar-item", method: :delete %>
          <% else %>
            <%= link_to  "Sign up",new_user_registration_path, class: "navbar-item" %>
            <%= link_to "Sign in", new_user_session_path, class: "navbar-item" %>
          <% end %>
            <div class="navbar-item">
              <%= form_tag searchresult_path, :method => 'get' do  %>
                <div class="field">
                  <div class="control has-icons-right">
                    <%= text_field_tag :search, params[:search],placeholder: "Search...", class: "input ", id: "provider-remote", autocomplete: "off", style: "position: relative;"  %>
                    <span class="icon is-right is-small">
                      <%= fa_icon("search") %>
                    </span>
                  </div>
                  <div class="content-list" id="list" style="position: absolute;top: 50px;left: 0;">
                    <ul class="drop-list">
                      <li>
                        <a href="">
                          <span class="item">
                            <span class="icon people">
                              <span aria-hidden="true"><%= icon("users","")%></span>
                            </span>
                            <span class="text">People:</span>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="">
                          <span class="item">
                            <span class="icon image">
                              <span  aria-hidden="true"><%= icon("tasks","")%></span>
                            </span>
                            <span class="text">Projects:</span>
                          </span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
     <%= flash_messages %>
    <div style="color:black" >
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </body>
</html>
